body {
  margin: 0 auto;
  height: 100vh;
}
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #25346F !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #25346F !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
.btn {
  position: fixed;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #DE8F26;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
/* #myModal {
  display: none;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: rgba(124, 124, 124, 0.5);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
} */