body {
  margin: 0 auto;
  height: 100vh;
}
#header {
  text-align: center;
  padding: 20px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 2.5em;
  color: #000000;
  background: linear-gradient(#76428c, #ffffff);
}
#us-map{
  display: block;
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 0;
  width: 80%;
  height: 80%;
}
path:hover, circle:hover {
  stroke: #ffffff !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #000000 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #a5a5a5 !important;
  cursor: default;
}
.btn {
  position: fixed;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #76428c;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
.details-button.btn {
  display: none;
}
#summary {
  position: inline-block;
  float: right;
  width: 40em;
  padding: 3em;
}
#gradMax {
  position: absolute;
  bottom: 115px;
  right: 65px;
}
#gradMin {
  position: absolute;
  bottom: 115px;
  right: 452px;
}
#grad {
  position: absolute;
  background: linear-gradient(to right, #eec7ff, #3a0053);
  height: 1em;
  width: 30em;
  bottom: 100px;
  right: 65px;
}
#vcStatsButton {
  position: absolute;
  float: right;
  outline: 0;
  bottom: 27px;
  right: 300px;
  background: linear-gradient(#c69ad8, #3a0053);
  border: none;
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}
#pcStatsButton {
  position: absolute;
  float: right;
  outline: 0;
  bottom: 27px;
  right: 90px;
  background: linear-gradient(#c69ad8, #3a0053);
  border: none;
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}